* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'BIZ UDPMincho', serif;
  line-height: 1.5rem;
}

::-webkit-scrollbar {
  width: .5rem;
  height: 100%;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffba08;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb {
  background-color: #6a040f;
  border-radius: 10px;
}